* {
  margin: 0;
  padding: 0; }

/*  nav bar */
.navbar .container-fluid .navbar-brand {
  color: #4ad295;
  border-top: #4ad295 2px solid;
  border-bottom: #4ad295 2px solid; }

.navbar .container-fluid .navbar-toggler {
  background-color: #4ad295; }

.navbar .container-fluid .collapse {
  flex-grow: initial; }
  .navbar .container-fluid .collapse .navbar-nav li:last-child {
    background-color: #4ad295;
    border: 2px solid #4ad295;
    border-radius: 10px; }
  .navbar .container-fluid .collapse .navbar-nav .nav-link {
    color: #fff;
    /* border: $border; */
    border-radius: 10px;
    font-size: 14px;
    /* margin: 10px; */
    transition: 1s; }
    .navbar .container-fluid .collapse .navbar-nav .nav-link:hover {
      border-bottom: #1eff00;
      background: #4ad295;
      border-radius: 10px;
      box-shadow: 0 0 10px #4ad295, 0 0 40px #4ad295, 0 0 80px #4ad295;
      color: #000; }

.color-2 {
  color: #4ad295; }

.main {
  background-image: url(../../imagenes/ladrillos1-2d4aa5b6290aeb196716165171606538-1024-1024.jpg);
  width: 90%;
  display: flex;
  margin: 0 auto 60px;
  border: 2px solid #4ad295;
  background-repeat: repeat; }

.main__img {
  width: 80%;
  margin: auto;
  margin-bottom: 2rem;
  display: block;
  border: 2px solid #4ad295; }

.img-g img {
  border: #4ad295 1px solid;
  box-shadow: 0 0 10px #4ad295; }

.titulo {
  background-color: #4ad2955c; }

.parrafo {
  background-color: #4ad2955c; }
