
$center: 0 auto;
$b-radius: 10px;
$border: 2px solid #4ad295;

$colores: (
    "color-primary": #4ad295,
    "color-secondary":#1eff00,
    "color-link": #fff,
    "color-hover":#000,
    "color-op":#4ad2955c,
);